
header{

    background-color: #cdf0fa;

}

header img{

    width: 150px;

}

header{

    font-family: 'Madimi One';


}

main{

    text-align: center;

}

main img{

    width: 1000px;

}

main{

    background-color:#e5fab1 ;




}

footer img{

    width: 150px;

}

footer img{

    align;


}