
header{

    background-color: white;

    text-align: center; 

    height: 350px;

}

main{

    text-align: center;

    background-color:#e5fab1 ;
}

.jael{

    width: 500px;

    text-align: right;
}

.tenis{


    width: 565px;

}
.barrios{

    width: 500px;

}

footer{

 background-color: black;

 color: white;

 height: 250px;



}

.bonobo{

    width: 50px;

    position: absolute ;

    right: 100px;

}
    


