
header{

    background-color: white;

    text-align: center

}

main{

    text-align: center;

    background-color:#e5fab1 ;
}

.jael{

    width: 500px;

    text-align: right;
}

.tenis{


    width: 565px;

}
.barrios{

    width: 500px;

}

footer{

 background-color: black;

 color: white;

}

.bonobo{

 width: 100px;


}
    


